@page
@model HomeChoreTracker.Portal.Pages.Homes.IndexModel
@{
	ViewData["Title"] = "Homes";
}
@if (User.Identity.IsAuthenticated)
{
<div class="row">
	<div class="col-lg-12">
		<a class="btn btn-secondary btn-sm mb-2" href="~/Homes">
			<i class="fa fa-home" aria-hidden="true"></i><i class="fa fa-home" aria-hidden="true"></i><i class="fa fa-home mr-2" aria-hidden="true"></i>
			Homes
		</a>
		<a class="btn btn-light btn-sm mb-2" asp-page="./Create">
			<i class="fa fa-plus-circle mr-2"
			   aria-hidden="true"></i>Create
		</a>
		<div class="card mb-4 py-3 border-left-primary">

			<div class="card-body">
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
					<div class="btn btn-sm btn-primary shadow-sm d-inline-block d-sm-none" data-toggle="modal" data-target="#createHomeChoreModal">
						<i class="fa fa-plus-circle mr-2" aria-hidden="true"></i> Home Chore
					</div>
				</div>
				@if (Model.Homes != null && Model.Homes.Any())
				{
					<table class="table">
						<thead>
							<tr>
								<th>Title</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var home in Model.Homes)
							{
								<tr>
									<td>@home.Title</td>
								</tr>
							}
						</tbody>
					</table>
				}
				else
				{
					<p>No home chore bases found.</p>
				}
			</div>
		</div>
	</div>
</div>
}
else
{
	Response.Redirect("/Auth/Login");
}