@page
@model HomeChoreTracker.Portal.Pages.Challenges.IndexModel

@{
	ViewData["Title"] = "Challenges";
}
@if (!User.Identity.IsAuthenticated)
{
	Response.Redirect("/Auth/Login");
}
else if (User.IsInRole("User"))
{
	<div class="row">
		<div class="col-lg-12">
			<a class="btn btn-secondary btn-sm mb-2" href="~/Challenges"><i class="fas fa-user fa-sm fa-fw mr-2"></i>Current Challenges</a>
			<a class="btn btn-light btn-sm mb-2" asp-page="./Create"><i class="fa fa-hourglass-start mr-2" aria-hidden="true"></i>Create challenge</a>
			<a class="btn btn-light btn-sm mb-2" asp-page="./History"><i class="fa fa-user-astronaut mr-2" aria-hidden="true"></i>History</a>
		</div>
	</div>
}
else
{
			<div class="row">
				<div class="col-lg-12">
					<div class="card mb-4 py-3 border-left-primary">
						<div class="collapse show">
							<div class="card-body">
								<p>You don't have permission to view this content.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
}
