@model List<HomeChoreTracker.Portal.Models.Home.HomeResponse>

<div class="bg-white py-2 collapse-inner rounded">
    @foreach (var home in Model)
    {
        <a class="collapse-item" href="~/Purchase/@home.Id">@home.Title</a>
    }
</div>