<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home Chore Tracker</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="~/favicon.ico" />
    @RenderSection("HeadContent", required: false)
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="wrapper">
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
               
                @if (User.IsInRole("Admin"))
                {
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Gamification">
                        <div class="sidebar-brand-icon">
                            <i class='fas fa-dice-d20 fa-9x' style='color:#ffffff'></i>
                        </div>
                        <div class="sidebar-brand-text mx-3">Home Chore Tracker</div>
                    </a>
                    <div class="sidebar-heading">Admin Actions</div>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Gamification">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                            <span>Manage levels</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeChoreBase">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span>Manage default home chores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Avatars">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                            <span>Manage avatars</span>
                        </a>
                    </li>
                }

                @if (User.IsInRole("User"))
                {
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                        <div class="sidebar-brand-icon">
                            <i class='fas fa-dice-d20 fa-9x' style='color:#ffffff'></i>
                        </div>
                        <div class="sidebar-brand-text mx-3">Home Chore Tracker</div>
                    </a>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading">Homes actions</div>

                    @await Component.InvokeAsync("HomesList")

                    @await Component.InvokeAsync("HomeChoreList")

                    @await Component.InvokeAsync("PurchaseHomesList")

                    <li class="nav-item">
                        <a class="nav-link" href="~/Homes">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            <span>Manage homes</span>
                        </a>
                    </li>
                    <div class="sidebar-heading">Finance</div>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Finance">
                            <i class="fas fa-money-check-alt"></i>
                            <span>Budget</span>
                        </a>
                    </li>
                    <div class="sidebar-heading">Forum</div>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Forum">
                            <i class="fas fa-money-check-alt"></i>
                            <span>Advices</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider d-none d-md-block">
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>
                }
            </ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul class="navbar-nav ml-auto">
                            @if (User.IsInRole("User"))
                            {
                                @await Component.InvokeAsync("NotificationList")
                            }
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @await Component.InvokeAsync("ProfileAvatar")
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    @if(User.IsInRole("User"))
                                    {
                                        <a class="dropdown-item" asp-page="/Profile/Index" method="get">
                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Profile
                                        </a>
                                    }
                                    
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <form id="logoutForm" asp-page="/Auth/Logout" method="post">
                            <button type="submit" class="btn btn-primary">Logout</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
            @RenderBody()
        </div>
    }
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
</body>
</html>
