@page
@model HomeChoreTracker.Portal.Pages.Finance.IndexModel
@{
}
<div class="row">
	<div class="col-lg-12">
		<div class="d-flex flex-wrap">
			<a class="btn btn-secondary btn-sm mb-2 mr-2" href="~/Finance">
				<i class="fa fa-signal mr-2" aria-hidden="true"></i>Statistics
			</a>

			<a class="btn btn-light btn-sm mb-2 mr-2" asp-page="./CreateIncome">
				<i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create income
			</a>

			<a class="btn btn-light btn-sm mb-2 mr-2" asp-page="./CreateExpense">
				<i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create expense
			</a>

			<a class="btn btn-light btn-sm mb-2 mr-2" asp-page="./Create">
				<i class="fa fa-file mr-2" aria-hidden="true"></i>Generate report
			</a>

			<a class="btn btn-light btn-sm mb-2" asp-page="./History">
				<i class="fa fa-history mr-2" aria-hidden="true"></i>History
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="card mb-4 border-left-primary">
			<div class="card-body">
				<h7>Current month total balance</h7>
				<h3>@Model.CurrentMonthTotalBalance Eur</h3>
			</div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="card mb-4 border-left-success">
			<div class="card-body">
				<h7>Current month total income</h7>
				<h3>@Model.CurrentMonthTotalIncome Eur</h3>
			</div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="card mb-4 border-left-danger">
			<div class="card-body">
				<h7>Current month total expense</h7>
				<h3>@Model.CurrentMonthTotalExpense Eur</h3>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-body text-center">
                <h5>Report</h5>
                <div class="chart-bar">
                    <canvas id="monthlyChart"></canvas>
                </div>
            </div>
        </div>
	</div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="js/demo/chart-bar-demo.js"></script>
<script>
    function createChart() {
        var monthlySummaries = @Html.Raw(Json.Serialize(Model.MonthlySummaries));
        console.log(monthlySummaries);

        if (monthlySummaries && monthlySummaries.length > 0) {
            var labels = monthlySummaries.map(summary => summary.monthYear);
            var incomeData = monthlySummaries.map(summary => summary.totalIncome);
            var expenseData = monthlySummaries.map(summary => summary.totalExpense);

            var ctx = document.getElementById('monthlyChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Income',
                        data: incomeData,
                        backgroundColor: '#1cc88a' // Green color for income
                    }, {
                        label: 'Expense',
                        data: expenseData,
                        backgroundColor: '#e74a3b' // Red color for expense
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            // Update canvas size whenever the window is resized
            window.addEventListener('resize', function () {
                chart.canvas.parentNode.style.width = '100%';
                chart.canvas.parentNode.style.height = 'auto';
            });
        } else {
            console.error("Monthly summaries data is null, undefined, or empty.");
        }
    }
    // Call the function after the page is loaded
    document.addEventListener("DOMContentLoaded", function () {
        createChart();
    });
</script>
