@page
@model HomeChoreTracker.Portal.Pages.Forum.CreateModel
@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section HeadContent
{
	<title>@ViewData["Title"] - Home Chore Tracker</title>
	<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet" asp-append-version="true">
	<link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
	<!-- Add the following lines to include required Bootstrap and jQuery files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
@if (!User.Identity.IsAuthenticated)
{
	Response.Redirect("/Auth/Login");
}
@if (User.IsInRole("User"))
{
	<div class="row">
		<div class="col-lg-12">
			<a class="btn btn-light btn-sm mb-2" href="/Forum"><i class="fa fa-comments mr-2" aria-hidden="true"></i>Advices</a>
			<a class="btn btn-secondary btn-sm mb-2" asp-page="./Create"><i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create</a>

			<div class="card mb-4 py-3 mt-2 border-left-primary">
				<div class="card-body">
					<form method="post" asp-action="Create">
						<div class="form-group">
							<label for="Title">Title</label>
							<input type="text" class="form-control" id="Title" name="CreateAdvice.Title" asp-for="CreateAdvice.Title">
							<span asp-validation-for="CreateAdvice.Title" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="HomeChoreType">Type</label>
							<select class="form-control" id="Type" name="CreateAdvice.Type" asp-for="CreateAdvice.Type" required>
								@foreach (var type in Enum.GetValues(typeof(HomeChoreTracker.Portal.Constants.HomeChoreType)))
								{
									<option value="@((int)type)">@type</option>
								}
							</select>
							<span asp-validation-for="CreateAdvice.Type" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="Description">Description</label>
							<textarea class="form-control" id="Description" name="CreateAdvice.Description" asp-for="CreateAdvice.Description"></textarea>
							<span asp-validation-for="CreateAdvice.Description" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="IsPublic">
								Visibility this advice
							</label><br />
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="IsPublic" name="CreateAdvice.IsPublic" value="true" checked>
								<label class="form-check-label" for="IsPublic">Public</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="IsPrivate" name="CreateAdvice.IsPublic" value="false">
								<label class="form-check-label" for="IsPrivate">Private</label>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-4 py-3 border-left-primary">
				<div class="collapse show">
					<div class="card-body">
						<p>You don't have permission to view this content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}