@page
@model HomeChoreTracker.Portal.Pages.BadgeWalletModel

@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("/Auth/Login");
}
@if (User.IsInRole("User"))
{
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-light btn-sm mb-2" href="/"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>My Calendar</a>
            <a class="btn btn-secondary btn-sm mb-2" asp-page="/BadgeWallet"><i class="fa fa-wallet mr-2" aria-hidden="true"></i>My Badge Wallet</a>
            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    <h5>Badge Wallet</h5>
                    <div class="row mt-4">
                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneFirstTask)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-check-circle text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #6C0345;">
                                        <i class="fa fa-check-circle text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done first task</span>
                            </div>
                        </div>

                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneFirstCleaningTask)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-broom text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle bg-primary">
                                        <i class="fa fa-broom text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done first cleaning task</span>
                            </div>
                        </div>

                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneFirstLaundryTask)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-tshirt text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle bg-success">
                                        <i class="fa fa-tshirt text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done first laundry task</span>
                            </div>
                        </div>

                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneFirstKitchenTask)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-utensils text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle bg-info">
                                        <i class="fa fa-utensils text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done first kitchen task</span>
                            </div>
                        </div>

                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneFirstBathroomTask)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-shower text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle bg-warning">
                                        <i class="fa fa-shower text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done first bathroom task</span>
                            </div>
                        </div>

                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneFirstBedroomTask)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-bed text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle bg-danger">
                                        <i class="fa fa-bed text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done first bedroom task</span>
                            </div>
                        </div>

                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneFirstOutdoorsTask)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-tree text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle bg-secondary">
                                        <i class="fa fa-tree text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done first outdoors task</span>
                            </div>
                        </div>

                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneFirstOrganizeTask)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-sitemap text-white"></i>
                                    </div>

                                }
                                else
                                {
                                    <div class="icon-circle bg-dark">
                                        <i class="fa fa-sitemap text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done first organize task</span>
                            </div>
                        </div>

                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.EarnedPerDayFiftyPoints)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-coins text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #E9A89B;">
                                        <i class="fa fa-coins text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Earned per day fifty points</span>
                            </div>
                        </div>

                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.EarnedPerDayHundredPoints)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-brain text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #9B3922;">
                                        <i class="fa fa-brain text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Earned per day hundred points</span>
                            </div>
                        </div>

                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneFiveTaskPerWeek)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-check-double text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #8C6A5D;">
                                        <i class="fa fa-check-double text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done five task per week</span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneTenTaskPerWeek)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-tasks text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #5F374B;">
                                        <i class="fa fa-tasks text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done ten task per week</span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.DoneTwentyFiveTaskPerWeek)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-calendar-check text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #430A5D;">
                                        <i class="fa fa-calendar-check text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Done twenty-five task per week</span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.CreatedTaskWasUsedOtherHome)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-home text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #344955;">
                                        <i class="fa fa-home text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Created task was used other home</span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.CreateFirstPurchase)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-shopping-cart text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #FF407D;">
                                        <i class="fa fa-shopping-cart text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Create first purchase</span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.CreateFirstAdvice)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-comment text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #535C91;">
                                        <i class="fa fa-comment text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Create first advice</span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.CreateFirstIncome)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-briefcase text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #9DBC98;">
                                        <i class="fa fa-briefcase text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Create first income</span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="mr-3 d-flex align-items-center">
                                @if (!Model.BadgeWallet.CreateFirstExpense)
                                {
                                    <div class="icon-circle blur" style="background-color: #ADD8E6;">
                                        <i class="fa fa-tag text-white"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-circle" style="background-color: #FF6868;">
                                        <i class="fa fa-tag text-white"></i>
                                    </div>
                                }
                                <span class="ml-2">Create first expense</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <h5>You don't have permission.</h5>
    </div>
}

<style>
    .icon-circle {
        width: 50px; /* Adjust the size as needed */
        height: 50px; /* Adjust the size as needed */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .icon-circle i {
            font-size: 24px; /* Adjust the size as needed */
        }

    .blur {
        filter: blur(4px); /* Adjust the blur intensity as needed */
    }
</style>
